<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Petition</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <div id="navbar">
        <a class="navbuttons" href="/register">REGISTER</a>
        <a class="navbuttons" href="/login">LOGIN</a>
        <a class="navbuttons" href="/petition">PETITION</a>
        <a class="navbuttons" href="/signers">SUPPORTERS</a>
    </div>
    <div id="container">
        {{{body}}}
    </div>
</body>
</html>