<div id="loginBody">
    <img src="#" alt="">
    <h1>Please login</h1>
    <br>
    <form method="POST">
        {{#if error}}
        <h3 id="errorMsg">{{errorMsg}}</h3>
        {{/if}}
        <p>email</p>
        <input type="text" name="email">
        <p>password</p>
        <input type="password" name="password">
        <input type="hidden" name="_csrf" value="{{csrfToken}}">
        <br>
        <br>
        <button id="login">LOGIN</button>
    </form>
</div>