<div class="pageBody">
    <h1>RISE AGAINST THE DARK TECHNOLOGY</h1>
    <br>
    <h2 id="petitionMsg">Stand with us to ban the exploitations by social media and demand an immediate change on how it is designed, regulated and used</h2>
    <br>
    <form method="POST">
        {{#if error}}
        <h3 id="errorMsg">{{errorMsg}}</h3>
        {{/if}}
        <br>
        <input id="forDataUrl" type="hidden" name="sign" value="">
        <canvas id="signCanvas" width="500" height="100"></canvas>
        <input type="hidden" name="_csrf" value="{{csrfToken}}">
        <br>
        <br>
        <button id="submitSign">JUST DO IT!</button>
    </form>
</div>
<div class="petitionBanner"></div>
<script src="script.js"></script>