<div id="petitionBody">
    <h1>Sign our petition to shout out that global warming & climate change are not just nightmares!</h1>
    <img src="#" alt="">
    <form method="POST">
        <h3 id="errorMsg">{{errorMsg}}</h3>
        <input type="text" name="first">
        <input type="text" name="last">
        <input type="hidden" name="sign">
        <br>
        <canvas id="signCanvas" width="500" height="100"></canvas>
        <br>
        <button id="submitSign">SUBMIT</button>
    </form>
    <script src="script.js"></script>
</div>