<div id="petitionBody">
    <h1>Sign up to stand against the exploitation of social media</h1>
    <img src="#" alt="">
    <form method="POST">
        {{#if error}}
        <h3 id="errorMsg">{{errorMsg}}</h3>
        {{/if}}
        <br>
        <input id="forDataUrl" type="hidden" name="sign" value="">
        <canvas id="signCanvas" width="500px" height="100px"></canvas>
        <br>
        <button id="submitSign">JUST DO IT!</button>
    </form>
    <script src="script.js"></script>
</div>