<div class="pageBody">
    <h2>Please provide some additional information (optional)</h2>
    <br>
    <form method="POST">
        <p>age</p>
        <input type="text" name="age">
        <br>
        <br>
        <p>city</p>
        <input type="text" name="city">
        <br>
        <br>
        <p>homepage</p>
        <input type="text" name="url">
        <input type="hidden" name="_csrf" value="{{csrfToken}}">
        <br>
        <br>
        <br>
        <button id="addProfile">CONTINUE</button>
    </form>
</div>
<div class="pageBanner"></div>