<div class="pageBody">
    <h1>RISE AGAINST THE DARK TECHNOLOGY</h1>
    <br>
    <br>
    <h2>Please provide (optional) information</h2>
    <form class="otherForms" method="POST">
        <p>age (18 and above)</p>
        <input type="text" name="age">
        <p>city</p>
        <input type="text" name="city">
        <p>homepage</p>
        <input type="text" name="url">
        <input type="hidden" name="_csrf" value="{{csrfToken}}">
        <br>
        {{#if error}}
        <h3 class="errorMsg">{{errorMsg}}</h3>
        {{/if}}
        <br>
        <button class="otherButtons" id="addProfile">CONTINUE</button>
    </form>
</div>
<div class="pageBanner"></div>