<div class="pageBody">
    <h1>RISE AGAINST THE DARK TECHNOLOGY</h1>
    <br>
    <h2 id="petitionMsg">Stand with us to implement the ban on social media exploitations and demand an immediate halt of the misuse</h2>
    <br>
    <form method="POST">
        <p>first name</p>
        <input type="text" name="first">
        <br>
        <br>
        <p>last name</p>
        <input type="text" name="last">
        <br>
        <br>
        <p>email</p>
        <input type="text" name="email">
        <br>
        <br>
        <p>password</p>
        <input type="password" name="password">
        <input type="hidden" name="_csrf" value="{{csrfToken}}">
        <br>
        <br>
        <br>
        {{#if error}}
        <h3 id="errorMsg">{{errorMsg}}</h3>
        <br>
        {{/if}}
        <button id="signUp">JOIN US!</button>
    </form>
    <br>
    <h3>Already registered with us? Go to <a href="/login">login</a>.</h3>
</div>
<div class="pageBanner"></div>