<div class="pageBody">
    <h1>RISE AGAINST THE DARK TECHNOLOGY</h1>
    <h2 id="petitionMsg">Stand with us to implement the ban on social media
        exploitations and demand immediate stop to the misuse</h2>
    <form class="otherForms" method="POST">
        <p>first name</p>
        <input type="text" name="first" />
        <p>last name</p>
        <input type="text" name="last" />
        <p>email</p>
        <input type="text" name="email" />
        <p>password</p>
        <input type="password" name="password" />
        <input type="hidden" name="_csrf" value="{{csrfToken}}" />
        <br />
        {{#if error}}
            <h3 class="errorMsg">{{errorMsg}}</h3>
        {{/if}}
        <br />
        <button class="otherButtons" id="signUp">JOIN US!</button>
    </form>
    <h3>Already registered with us? Go to <a href="/login">LOGIN</a></h3>
</div>
<div class="pageBanner"></div>