<div id="signersBody">
    <h1>The following awesome people came forward to battle against the exploitation of social media.</h1>
    <br>
    <div id="allSigners">
        {{#rows}}
            <h2>✔️ {{first}} {{last}}</h2>
        {{/rows}}
    </div>
</div>