<div id="thanksBody">
    <h1>Thanks a million for your signature, you are awesome!</h1>
    <br>
    {{#signRows}}
    <img id="signatureAdded" src="{{signature}}" alt="">
    <br>
    {{/signRows}}
    {{#totalRows}}
    <a href="/signers"><h2>Click to know the brave group of {{count}}.</h2></a>
    {{/totalRows}}
</div>