<div id="thanksBody">
    <h1>Thanks a million for your signature, you are awesome!</h1>
    <br>
    {{#signRows}}
    <img id="signatureAdded" src="{{signature}}" alt="">
    <br>
    {{/signRows}}
    {{#totalRows}}
    <h2>Know about the courageous group of {{count}} <a href="/signers">here</a></h2>
    {{/totalRows}}
</div>