<div class="pageBody">
    <h1 class="thanks">Many thanks for your signature and support, you are <span>awesome!</span></h1>
    {{#signRows}}
    <img id="signatureAdded" src="{{signature}}" alt="">
    {{/signRows}}
    <a class="allForms" href="/edit"><button class="allButtons">EDIT PROFILE</button></a>
    <br>
    <form class="allForms" method="POST">
        <button class="allButtons" id="delSign">DELETE SIGNATURE</button>
        <input type="hidden" name="_csrf" value="{{csrfToken}}">
    </form>
    <br>
    <br>
    {{#totalRows}}
    <h2>Know about the valiant group of {{count}} <a href="/signers"><span>supporters</span></a></h2>
    {{/totalRows}}
</div>
<div class="petitionBanner"></div>