* {
    box-sizing: border-box;
    margin: 0;
    font-family: monospace;
    /* padding: 2px; */
}

body {
    background-color: dimgray;
}

#container {
    display: flex;
    height: 91vh;
}

div#navbar {
    height: 60px;
    background-color: #292929;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.navbuttons {
    color: whitesmoke;
    height: 100%;
    text-decoration: none;
    text-align: center;
    font-size: 1.2em;
    padding: 20px 20px;
}

.pageBody {
    display: flex;
    flex-direction: column;
    padding: 50px;
    width: 50%;
}

.pageBanner {
    background-image: url("./images/register.jpeg");
    background-size: cover;
    width: 50%;
}

.petitionBanner {
    width: 50%;
    background-image: url("./images/petition2.jpg");
    background-size: cover;
}

.signersBanner {
    width: 50%;
    /* background-image: url("./images/solidarity1.jpg"); */
    background-size: cover;
}

h1 {
    color: #e33b38;
    font-size: 3em;
}

h2 {
    color: #292929;
    font-size: 2em;
}

h3 {
    font-size: 1.5em;
}

#petitionMsg {
    align-self: center;
    background-color: #292929;
    color: whitesmoke;
    text-align: center;
    padding: 20px;
    border: 5px solid black;
    width: 80%;
}

h3 {
    color: whitesmoke;
}

button {
    height: 5vh;
    color: whitesmoke;
    width: 50%;
    background-color: #e33b38;
    border: 1px solid #e33b38;
    font-size: 1.5em;
}

canvas {
    border: 1px solid whitesmoke;
}

#signatureAdded {
    width: 500px;
    height: 100px;
    background-color: dimgray;
}

p {
    font-size: 1.2em;
    display: inline-block;
    width: 50%;
    border: 2px solid black;
}

input {
    font-size: 1.2em;
    padding: 0px;
    background-color: dimgray;
    border: 2px solid whitesmoke;
}

footer {
    display: inline-block;
    width: 100%;
    background-color: #292929;
    color: whitesmoke;
    height: 3vh;
}

p.footer {
    padding: 5px 0px;
    font-size: 1.2em;
    border: none;
    width: 49.5%;
}

#footerQuote {
    color: #e33b38;
    font-style: italic;
    text-align: right;
}

#signCanvas {
    align-self: center;
    width: 500px;
    height: 100px;
}

.allForms {
    display: flex;
    flex-direction: column;
    text-decoration: none;
}

.otherForms {
    width: 50%;
    align-self: center;
}

.allButtons,
img {
    align-self: center;
}

.otherButtons {
    width: 100%;
}

#iconDiv,
#icon {
    flex-grow: 2;
    height: 100%;
}

#allSigners {
    text-transform: uppercase;
}
