* {
    box-sizing: border-box;
    margin: 0;
    font-family: monospace;
    /* padding: 2px; */
}

body {
    background-color: dimgray;
}

div#navbar {
    height: 50px;
    background-color: black;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#petitionBody {
    display: inline-block;
}

h1 {
    color: navy;
}

h3 {
    color: rgb(196, 0, 0);
}

/* input {
    background-color: #8091a8;
} */

button {
    width: 500px;
    background-color: #1da1f2;
    border: 2px solid skyblue;
}

canvas {
    border: 2px solid black;
}

#signatureAdded {
    width: 500px;
    height: 100px;
    border: 5px solid black;
    background-color: white;
}
